<div class="row">
  <div class="col-md-8 center-block col-xs-6">
  <%= image_tag("SalfMade_logo_Arquitecta_white.png", class: "img-responsive") %>
</div>

    <div class="col-md-10 center-block col-xs-7">
  <%= image_tag("Nazli_Kris.gif", class: "img-responsive landing_page_img") %>
</div>

  <%= link_to("Click to Enter", google_survey_path, class: "link col-md-8 col-xs-6") %>

</div>
<!-- <h1> SELF MADE </h1>
<div>
  <h2><%= flash[:error] %></h2>
</div>

<div class="welcome_phone_number">
<%= form_tag(logic_path) do %>
  <%= text_field_tag :phone_number %>
<% end %>
</div> -->
