<%= image_tag("SalfMade_logo_Arquitecta_white.png", class: "selfmade_landing_page selfmade_logo") %>
<%= image_tag("Nazli_Kris.gif", class: "selfmade_landing_page landing_page_gif") %>
<%= link_to("Click to Enter", google_survey_path, class: "link") %>


<!-- <h1> SELF MADE </h1>
<div>
  <h2><%= flash[:error] %></h2>
</div>

<div class="welcome_phone_number">
<%= form_tag(logic_path) do %>
  <%= text_field_tag :phone_number %>
<% end %>
</div> -->
